
body{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    letter-spacing: .5px;
    margin: 0;
    padding: 0;
    min-width: 375px;
}

body::-webkit-scrollbar {
  display: none;
}

h2{
    font-family: "Inter", sans-serif ;
    font-weight: 900;
    font-size: 180%;
    text-transform: uppercase;

}

/*------------------------Rule Styles section-----*/
.hr-styles{
    width: 70px;
    border-radius: 2px;
    border: 0;
    height: 8px;
    background-color: #b1e583;
    margin-top: 20px;
}

.hr-mini{
    margin: 0;
    width: 160px;
    height: 2px;
    border: 0;
    background-color: #fafafa;
    padding-bottom: 1px;
    margin-bottom: 5px;
}

.hr-news{
    margin: 0;
    width: 160px;
    height: 2px;
    border: 0;
    background-color: #fafafa;
    padding-bottom: 1px;
    margin-bottom: 20px;
}


/*------------------------nav section-----*/

.navbar-container{
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar{
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: #00000057;
    padding: 0 10px;

}
.navbar-toggler{
    padding: 0;
}


.navbar-dark .navbar-brand {
    color: #fff;
    margin: 0;
}

.navbar-brand strong{
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 120%;
    padding-left: 25px;
}

@media (min-width: 763px){
    .navbar-brand{
        float: left;
    }
}

.navbar-dark .navbar-toggler {
    border: none;
    color: white;
}


.btn-outline-primary {
    color: white;
    border-color: white;
    padding: 4px;
}
.btn-outline-primary i{
    font-size: 90%;
}

.btn-outline-primary:hover{
    background-color: white;
    color: rgba(0, 0, 0, 0.829);
    border: none;
    transition: .4s;
    transition-timing-function: ease-in-out;
}

@media (max-width: 763px){
    .btn-outline-primary small{
        display: none;
    }
}

@media (max-width: 763px){
    .btn-outline-primary{
        border: none;
        
    }
}

@media (max-width: 763px){
    .btn-outline-primary i{
        font-size: 110%;
        color: #f8f9fae0 ;
    }
}

@media (max-width: 763px){
    .navbar-brand strong{
        padding: 0;
    }
}
/*------------------------callout section-----*/
.callout-container-bg{
    height: 100vh;
    
/* This code snippet was sourced from css-tricks.com */
    background: url(../images/tata-zaremba-xzUnX1k-tq4-unsplash.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

}

/*I was shown how to do this in the user-centric development module*/
.opaque-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.3);

}

.jumbotron{
    
    background-color: transparent;
    padding: 0;
}

.jumbotron h2{
    color: white;
    padding: 0px 40px;
    font-size: 200%;
}

.btn-outline-success{
    border: 1px solid #b1e583;
    color: #b1e583;
}

.jumbotron a:hover{
   background-color: #b1e583;
   border: none;
   transition: .4s;
   transition-timing-function: ease-in-out;
}



/*------------------------about us section-----*/

.about-us-bg{
    padding: 30px 30px 30px 30px;
    background: url(../images/emmanuel-ben-paul-phUlKjjcjbU-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 180%;
    background-color: #eff2df;
   
}




.about-us-content-bg{
    background-color: #eff2df;
    color: #808080;
    text-align: center;
    padding: 60px 30px;
}

@media (max-width: 761px){
    .about-us-content-bg{
      padding: 30px 30px 30px 30px;
      background: url(../images/emmanuel-ben-paul-phUlKjjcjbU-unsplash.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-color: #eff2df;
   
    }

}

.about-us-content-bg h2{
    padding-bottom: 20px;

}

@media (max-width: 761px){
    .about-us-content-bg h2{
    color: #0b0b0b;

}
}

.about-us-content-bg h4{
    padding-bottom: 20px 0;
}

@media (max-width: 761px){
    .about-us-content-bg h4{
    color: #0b0b0b;

}
}

.about-us-content-bg p{
   
    color: #606060;
    line-height: 1.6;
    padding: 0 2px;
    text-align: justify;
    
}

@media (max-width: 761px) {
    .about-us-content-bg p{
        color: black;
        font-weight: 500;
    }

}

.about-us-content hr{
    margin: 20px 0;
    margin-left: 120px;
}

.about-us-content-bg > h4{
    font-weight: 900;
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
    font-size: 130%;

}

@media (max-width: 761px){
.opaque-overlay-light{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%; 
    background-color: rgba(255, 255, 255, 0.23);
}
}


/*------------------------ingredients section-----*/
.ingredients-title-bg{
    
    background-color: white;
    
}

.ingredients-title{
    color: grey;
    padding: 20px 0 0;
}

.lemon-bg{
    background: url(../images/hold-lemon.jpg);
    height: 400px;
    background-position: center;
    background-position-y: 1px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 20px solid white;
}
    
    
    
.coconut-bg{
    background: url(../images/louis-hansel-shotsoflouis-t6JLZcKRSEg-unsplash.jpg);
    height: 400px;
    background-position: center;
    background-position-y: 1px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 20px solid white;
    

}

.water-bg{
background: url(../images/nathan-dumlao-x7Lyx8Yyvug-unsplash.jpg);
    height: 400px;
    background-position: center;
    background-position-y: 1px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 20px solid white;
    
}

.about-txt{
    text-align: center;
    border: 3px solid #f8f9fae0;
    margin-top: 30px;
    background-color: #1d212457;
}

.about-txt h2{
    color: white;
    padding-top: 15px;

}

.about-txt p{
    color: white;
    padding: 15px;
    margin: 10px
}
/*------------------------testimonial section-----*/

.testimonials-container{
    padding: 0 30px; 
}

@media (max-width: 762px){
    .testimonials-container{
        display: none;
    }
}

.testimonials-bg{
    
}

/* code sourced from https://stackoverflow.com/questions/38901166/horizontal-scrollable-divs-in-a-bootstrap-row*/

.testimonial-group > .row {
  overflow-x: auto;
  white-space: nowrap;
  display: block;
  flex-wrap: nowrap;
  
}

.testimonial-group > .row::-webkit-scrollbar {
  width: 20px;
  height: 8px;
  
}

.testimonial-group > .row::-webkit-scrollbar-track {
  border-radius: 10px;
}

.testimonial-group > .row::-webkit-scrollbar-thumb {
  background: #b1e583; 
  border-radius: 2px;
}
.testimonial-group > .row::-webkit-scrollbar-thumb:hover {
  background: #9dcf72; 
}

.testimonial-group > .row > .col-xs-4 {
  display: inline-block;
  float: none;
}
/* (End) code sourced from https://stackoverflow.com/questions/38901166/horizontal-scrollable-divs-in-a-bootstrap-row*/

.test-margins{
    margin: 0 30px;
    padding: 20px 0;
}

.media{
 display: flex;
}

.quotes{

}

.blockquote{
    font-family: "Roboto", sans-serif;
    font-size: 110%;
    text-align: left;
    font-weight: 700;
    font-style: italic;
    color: #808080;
    
}

.testimonial-authors{
    font-style: initial;
    font-weight: 500;
    font-size: 100%;
}

.testimonials-container h2{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 20px;
    color: #808080;

    
}
/*------------------------testimonial color section-----*/
.cite-color{
    color: #86b2eb;

}

.rounded-circle{
    border: 4px solid #b1e583;
}


/*------------------------testimonial small section-----*/
.testimonials-small-container{
    padding: 30px;
}

@media (min-width: 762px){
    .testimonials-small-container{
        display: none;
    }
}


.carousel-item p{
    padding: 20px;
}

/*------------------------Social footer section-----*/

.address{
  padding: 30px 0 0px 20px;
    
    
}
.social-links{
    padding: 30px 0 40px 30px;
    
}

.address-content{
    color: white;
    letter-spacing: 1px;
    text-align: justify;
    padding: 10px 0;
}

.social-item{
    margin: 0;
    padding: 0 5px 0 0;
    text-align: center;
    display: inline;
    
    
}

.social-item .fab{
    font-size: 150%;
    padding: 5px;
    

}

.social-container h2{
    color: #fafafa;
    padding: 30px 20px 0px 20px;
}

.social-container h4{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color:#fafafa;
}

/*---------------------------------social background section---*/
.social-container-bg{
    background-color: #808080d1;
}

.social-item a{
    color:#fafafa;
}

.social-item a:hover{
    color: #b1e583;
    transition: .3s;
    transition-timing-function: ease-in-out; 
    
}

.signup-form{
    padding: 30px 20px 40px 20px;
}

.signup-form h6{
    color: white;
}

.signup-form .btn-outline-success{
    border-radius: 4px;
    border: 1px solid white;
    color: white;
}

.signup-form .btn-outline-success:hover{
   background-color: #b1e583;
   border: none;
   transition: .4s;
   transition-timing-function: ease-in-out;
}

.signup-form .form-control {
    background-color: transparent;
    border-radius: 0;
    border: 2px solid white;
    transition: none;
    color: white;
}

.signup-form input::placeholder{
    color: white;
    outline: none;
}
/*---------------------------------pricing section---*/
.purchase-container{

}

.pricing-bg{
 

     background: url(../images/william-moreland-FqsnnFesVhs-unsplash.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
   
}

.wrapper-pricing{
    padding: 100px 10px;
}

.pricing-title{
    
}

.pricing-div{
    display: grid;
    
}

@media (max-width: 763px) {
    .pricing-div{
        margin: 14px 0;
    }
}

.pricing-plans{
    padding: 20px;
    border: 4px solid #b1e583;
    color: white;
    
}
.pricing-plans h2{
    text-align: center;
    padding-bottom: 15px;
}

.pricing-plans h4{
    text-align: center;
    padding-bottom: 15px;

}

.lead{
    font-size: 200%;
}

.pricing-list{
    list-style: none;
    padding: 0;
}

.pricing-list li{
    padding-left: 1.3em;
}

.pricing-list li:before {
  content: "\f094"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

form .btn-outline-success:hover{
   background-color: #b1e583;
   border: none;
   transition: .4s;
   transition-timing-function: ease-in-out;
}

/*---------------------------------try section (purchase.html)---*/

.try-bg{
    height: 100vh;

     background: url(../images/zahra-owji-_0zCa-pRUE8-unsplash.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
   


}

.try-wrapper{
    padding: 110px 0 40px 0;
}

.try-txt{
 text-align: center; 
}

.try-txt h2{
 color: white;

}

.try-txt p{
 color: white;
 
}

.form-size{
  max-width: 500px;
  text-align: center;
  margin: auto;
}

.form-control{
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #b1e583; 
    transition: none;
    color: white;

}

 .form-group input:focus{
    background-color: transparent;
    color: white;
}

.form-group textarea:focus{
    background-color: transparent;
    color: white;
}

.form-group input::placeholder{
    color: rgba(255, 255, 255, 0.808);
    outline: none;
}

.form-group textarea::placeholder{
    color: rgba(255, 255, 255, 0.808);
    outline: none;
}

.form-button button:hover{
   background-color: #b1e583;
   border: none;
   transition: .4s;
   transition-timing-function: ease-in-out;
}

.buy-bg{
    height: 100vh;

    background: url(../images/andy-falconer-dwQRixazu9I-unsplash.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.buy-txt{
    text-align: center;
}

.buy-txt h2{
    color:white;
}

.buy-txt p{
    color:white;
}

