
body{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: .5px;
    margin: 0;
    padding: 0;
}

h2{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    text-transform: uppercase;

}

/*------------------------ Styles section-----*/
.hr-styles{
    width: 70px;
    border-radius: 2px;
    border: 0;
    height: 8px;
    background-color: #26a6ac;
    margin-top: 20px;
}

/*------------------------nav section-----*/





/*------------------------callout section-----*/





/*------------------------about us section-----*/
.about-us-content{
    padding: 20px 60px;
}

.about-us-content p{
    text-align: justify;
}


/*------------------------ingredients section-----*/



/*------------------------testionial section-----*/

.testimonials-container{
    padding: 0 30px; 
}

.testimonials-bg{
    background-color: #f3e20c;
}

.testimonial-group > .row {
  overflow-x: auto;
  white-space: nowrap;
  display: block;
  flex-wrap: nowrap;
  
}

.testimonial-group > .row::-webkit-scrollbar {
  display: none;
}

.testimonial-group > .row > .col-xs-4 {
  display: inline-block;
  float: none;
}

.test-margins{
    margin: 0 30px;
    padding: 20px 0;
}

.blockquote{
    font-family: "Roboto", sans-serif;
    font-size: 110%;
    text-align: left;
    font-weight: 700;
    font-style: italic;
    
}

.testimonial-authors{
    font-style: initial;
    font-weight: 500;
    font-size: 100%;
}

.testimonials-container h2{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 180%;
}

/*------------------------Social footer section-----*/