
body{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: .5px;
    margin: 0;
    padding: 0;
}

h2{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    text-transform: uppercase;

}
/*------------------------nav section-----*/





/*------------------------callout section-----*/





/*------------------------about us section-----*/
.about-us-content{
    padding: 20px 60px;
}

.about-us-content p{
    text-align: justify;
}


/*------------------------ingredients section-----*/



/*------------------------testionial section-----*/
.testimonial-group > .row {
  overflow-x: auto;
  white-space: nowrap;
  display: block;
  flex-wrap: nowrap;
}
.testimonial-group > .row > .col-xs-4 {
  display: inline-block;
  float: none;
}

.test-margins{
    margin: 0 30px;
    padding: 20px 0;
}

.blockquote{
    font-family: "Roboto", sans-serif;
    font-size: 110%;
    text-align: left;
    font-weight: 300;
    font-style: italic;
}

.testimonial-authors{
    font-style: initial;
    font-weight: 500;
    font-size: 100%;
}

.testimonials-container h2{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

/*------------------------Social footer section-----*/